{% extends 'base.html' %}
{% load django_tables2 %}

{% block sidebar %}
    {% include '_sidebar.html' with flowmetermenu="active" %}
{% endblock %}

{% block page_title %}
Flow Meter Detail
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
            Meter Info
            {% if user.is_staff %}
        	    <a href="{% url 'update_meter_info' meter_info.pk %}" class="btn btn-sm btn-default">Edit</a>
        	{% endif %}
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
              <tbody>
                <tr><td>Tag</td><td>{{ meter_info.tag }}</td></tr>
                <tr><td>Pipeline</td><td>{{ meter_info.pipeline }}</td></tr>
                <tr><td>Service</td><td>{{ meter_info.service }}</td></tr>
                <tr><td>Longitude</td><td>{{ meter_info.related_location.gps_lon }}</td></tr>
                <tr><td>Latitude</td><td>{{ meter_info.related_location.gps_lat }}</td></tr>
                <tr>
                    <td>Meter</td>
                    {% if meter_info.related_meter %}
                    <td>
                        <a href="{{ meter_info.related_meter.get_absolute_url }}"> {{ meter_info.related_meter.modbusaddress }}</a>
                    </td>
                    {% elif user.is_staff %}
                    <td>
            <a class="btn btn-default btn-sm" href="{% url 'create_meter' pk=meter_info.pk %}">Modbus Settings</a>
                    </td>
                    {% endif %}
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="btn-group btn-group-justified">
            <a href="#daily" class="btn btn-default" role="button">Daily</a>
            <a href="#hourly" class="btn btn-default">Hourly</a>
            <a href="#interval" class="btn btn-default">Interval</a>
        </div>
    </div>
    {% if daily_table %}
    <div class="panel panel-default" name="daily" id="daily">
        <div class="panel-heading">
            <div class="panel-title">
                Daily
            </div>
        </div>
        <div class="panel-body">
            {% render_table daily_table %}
        </div>
    </div>
    {% endif %}
    {% if hourly_table %}
    <div class="panel panel-default" name="hourly" id="hourly">
        <div class="panel-heading">
            <div class="panel-title">
                Hourly
            </div>
        </div>
        <div class="panel-body">
            {% render_table hourly_table %}
        </div>
    </div>
    {% endif %}
    {% if interval_table %}
    <div class="panel panel-default" name="interval" id="interval">
        <div class="panel-heading">
            <div class="panel-title">
                Interval
            </div>
        </div>
        <div class="panel-body">
            {% render_table interval_table %}
        </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

