{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block sidebar %}
    {% include '_sidebar.html' with flowmetermenu="active" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/meterinfo_form.js' %}"></script>
{% endblock %}

{% block page_title %}
New Flow Meter
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">New Meter Details</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="strings_json_url" data-url="{% url 'strings_json' %}"></div>
{% endblock %}
