{% extends 'base.html' %}
{% load django_tables2 %}

{% block sidebar %}
    {% include '_sidebar.html' with radiomenu="active" %}
{% endblock %}

{% block page_title %}
Radio List 
{% if user.is_staff %}
<a type="button" class="btn btn-default btn-sm" aria-label="Create Station" href="{% url 'create_station' %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</a>
{% endif %}
{% endblock %}


{% block body %}

<div class="row">
  <div class="col-md-12">
    <div class="panel">
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
