{% extends 'base.html' %}
{% load django_tables2 %}

{% block sidebar %}
    {% include '_sidebar.html' with towermenu="active" %}
{% endblock %}

{% block page_title %}
Tower List
{% if user.is_staff %}
<a type="button" class="btn btn-sm btn-default" aria-label="Create Tower" href="{% url 'create_tower' %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</a>
{% endif %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                {% render_table table %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
