{% extends 'base.html' %}
{% load django_tables2 %}

{% block sidebar %}
    {% include '_sidebar.html' with usersmenu="active" %}
{% endblock %}

{% block page_title %}
Users
{% endblock %}


{% block body %}
<div class="row">
  <div class="col-md-2">
    <a href="{% url 'create_user' %}" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
  <div class="col-md-10"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
        <div class="panel-body">
            {% render_table table %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
